h2 {
  margin: 0;
  padding: 20px 0 20px 10px;
  background-color: #EDF1FF;
  color: black;
}
 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border: 1px solid #ccc;
  background: #EDF1FF;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 20px;
}

ul :first-child{
    margin-top: 20px;
}

.name-of-municipality {
    color: black;
    font-size: 25px; 
    font-weight: normal; 
    line-height: 48px; margin: 0;
}

.items-in-list:hover {
    background-color: #ffffe6;
    transition: 1s;
}

.id {
    background-color: #000d1a;
    color: white;
    padding: 15px;
    border-radius: 50%;
    margin-right: 15px;
}

.single-municipality {
    margin-top: 40px;
    border: 1px solid blanchedalmond;
    border-top: 1px solid blanchedalmond;
    background-color: #EDF1FF;;
}

.info-box {
    border-top: 1px solid #2e2305;
    padding: 20px;
}

.selected {
    background-color: #ccc;
}

input {
    border-radius: 20px;
    padding: 10px;
}

